@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-align: CENTER;
}

body {
  background-color: #C8C8C8 !important;
}

a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  color: inherit !important;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 60px;
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 500;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 0px;
  transition: 1s;
}

nav.black ul {
  background: #070617;
}

nav ul li {
  display: inline-block;
  padding: 16px 25px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}


/* HEADING      */
.heading {
  padding-top: 175px;
}

.all-products-head {
  font-size: 28px;
  color: #141414;
  text-align: center;
}

.container {
  margin-top: 75px;
}

.product-grid2 {
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.product-grid2 a {
  text-decoration: underline !important;
}

.product-grid2 .product-image2 {
  overflow: hidden;
  position: relative;
}

.product-grid2 .product-image2 a {
  display: block;
}

.product-grid2 .product-image2 img {
  width: 100%;
  height: auto;
}

.product-image2 .pic-1 {
  opacity: 1;
  transition: all .5s;
}

.product-grid2:hover .product-image2 .pic-1 {
  opacity: 0;
}

.product-image2 .pic-2 {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s;
}

.product-grid2:hover .product-image2 .pic-2 {
  opacity: 1;
}

.product-grid2 .social {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 50px;
  right: 25px;
  z-index: 1;
}

.product-grid2 .social li {
  margin: 0 0 10px;
  display: block;
  transform: translateX(100px);
  transition: all .5s;
}

.product-grid2:hover .social li {
    transform: translateX(0);
}

.product-grid2:hover .social li:nth-child(2) {
    transition-delay: .15s
}

.product-grid2:hover .social li:nth-child(3) {
    transition-delay: .25s
}

.product-grid2 .social li a {
    color: #505050;
    background-color: #fff;
    font-size: 17px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    transition: all .3s ease 0s
}

.product-grid2 .social li a:hover {
    color: #fff;
    background-color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.product-grid2 .social li a:after,
.product-grid2 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.product-grid2 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.product-grid2 .social li a:hover:after,
.product-grid2 .social li a:hover:before {
    opacity: 1
}

.product-grid2 .add-to-cart {
    color: #fff;
    background-color: #404040;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all .3s
}

.product-grid2 .add-to-cart:hover {
    background-color: #3498db;
    text-decoration: none
}

.product-grid2:hover .add-to-cart {
    bottom: 0
}

.product-grid2 .product-new-label {
    background-color: #3498db;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s
}

.product-grid2:hover .product-new-label {
    opacity: 0
}

.product-grid2 .product-content {
    padding: 20px 10px;
    text-align: center;

}

.product-grid2 .title {
    font-size: 17px;
    margin: 0 0 7px
}

.product-grid2 .title a {
    color: #303030
}

.product-grid2 .title a:hover {
    color: #3498db
}

.product-grid2 .price {
    color: #303030;
    font-size: 15px
}

/*** FOOTER ************************************************/

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
  color: #B0B0B0;
  padding: 30px auto 60px auto !important;
}
.footer .col-md-3 {
  width: 300px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.footer .col-md-3 h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 13px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col-md-3 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col-md-3 ul li {
  font-size: 11px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col-md-3 ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}

.footer-heading h2 {
  text-align: center;
}

.footer-container {
  padding: 30px 0;
}

.footer-sectionals {
  margin-top: 600px;
}

.footer-products {
  margin-top: 200px;
}





/* media queries        */

@media(max-width: 786px) {

  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #070617;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }

  .logo {
    margin: 10px 20px;
  }
}


@media screen and (max-width:990px) {
    .product-grid2 {
        margin-bottom: 30px
    }
}


/* FOOTER      */
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col-md-3 {
    width: 33%;
  }
  .footer .col-md-3 h1 {
    font-size: 14px;
  }
  .footer .col-md-3 ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col-md-3 {
      width: 50%;
    }
    .footer .col-md-3 h1 {
      font-size: 14px;
    }
    .footer .col-md-3 ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col-md-3 {
    width: 100%;
  }
}
